.container{
font-family: 'Courier New', Courier, monospace;
display: flex;
flex-wrap:wrap
}

.results{
    text-align: center;
    background-color: purple;
    border-radius: 15px;
    height: 400px;
    width: 300px;
    color: grey;
}
.summary{
    border-radius: 15px;
    height: 400px;
    width: 300px;
    color: black;
}
.results-title{
    font-size: 24px;
}
.great,.score{
    color: white;
}
.continueButton{
    background-color: midnightblue;
    border: none;
    color: white;
    border-radius: 30px;
}

